<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.codlab.cyphersend"
    android:versionCode="1"
    android:versionName="0.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="eu.codlab.cypher.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="eu.codlab.cypher.gcm.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"

        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.view.activity.GeneratingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.view.activity.CypherMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="me"
                    android:pathPrefix="/"
                    android:scheme="cypher" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cypher.codlab.eu"
                    android:pathPrefix="/me"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.activity.DecodeUrlActivity"
            android:label="@string/app_name"
            android:theme="@style/DialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="cypher.codlab.eu"
                    android:pathPrefix="/decode"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="decode"
                    android:pathPrefix="/"
                    android:scheme="cypher" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.activity.SettingsActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.view.activity.ShareFriendsActivity"
            android:icon="@drawable/ic_encrypt"
            android:label="@string/app_cypher_and_send"
            android:theme="@style/DialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.activity.ShareThirdPartyFriendsActivity"
            android:icon="@drawable/ic_third_party"
            android:label="@string/app_cypher_and_apps"
            android:theme="@style/DialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.activity.HelpMainActivity"
            android:label="@string/action_guided"
            android:theme="@style/DialogTheme"/>


        <receiver
            android:name="eu.codlab.cyphersend.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="eu.codlab.cyphersend.gcm" />
            </intent-filter>
        </receiver>
        <service android:name="eu.codlab.cyphersend.GcmIntentService" />

    </application>

</manifest>
